* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 60px;
  padding-top: 60px;
  margin-bottom: 20px;
}

.main-header {
  text-align: center;
  margin-top: 30px;
  position: absolute;
  right: 40%;
}

.m-menu-button {
  padding: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-line {
  display: block;
  height: 2px;
  background-color: #000;
  width: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 40px;
}

.navigation {
  margin-top: 64px;
}

.navigation-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.navigation-link:not(:last-child) {
  margin-right: 22px;
}

.nav-link-icon {
  vertical-align: text-top;
}

.user-name {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin: 0px;
  letter-spacing: 0.075em;
}

.user-name-icon {
  vertical-align: text-bottom;
}

.manage-list {
  list-style-type: none;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 11px;
  width: 230px;
}

.manage-list li:not(:last-child) {
  margin-bottom: 11px;
}

.manage-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #4992FF;
  letter-spacing: 0.05em;
}

.search-block {
  display: none;
}

.search-input,
.recalculation-input,
.add-product-input,
.row-name-input,
.row-time-input,
.row-full-desription-input {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px 0px 0px 2px;
  width: 80px;
}

.search-button {
  width: 60px;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  cursor: pointer;
}

.search-button.search {
  background: #15DAB7;
  border: 1px solid #15DAB7;
  border-radius: 0px 2px 2px 0px;
  margin-right: 10px;
}

.search-button.filter {
  background: #EF997F;
  border: 1px solid #EF997F;
  border-radius: 2px;
  margin-right: 5px;
}

.close,
.modal-close,
.modal-close-add-ingredients,
.modal-close-add-ingredients-in-add-recipe,
.modal-close-add-category,
.modal-close-view-category {
  width: 15px;
  cursor: pointer;
}

.search-icon {
  display: none;
  cursor: pointer;
}

.search-visible {
  display: flex;
}

.main {
  margin-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main-title {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex-basis: 25%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 35px;
  padding-top: 11px;
  padding-left: 15px;
}


.card-title {
  width: 320px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-description {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.card-text {
  font-size: 14px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  width: 150px;
  height: 130px;
  margin-right: 7px;
  overflow: hidden;
}

.card-image {
  max-width: 155px;
  height: 130px;
  object-fit: cover;
}

.card-button {
  background: #D98181;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #CFCDCD;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 16px;
  cursor: pointer;
}

.catalog-list-navigation {
  list-style: none;
  text-align: center;
  padding: 0;
}

.catalog-list-navigation a {
  text-decoration: none;
}

.list-item-navigation {
  display: inline;
  margin-right: 30px;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.085em;
}

.list-item-navigation.active {
  color: #4992FF;
}

.footer {
  width: 100%;
  height: 165px;
  padding-top: 68px;
}

.footer-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-button {
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.62;
  border-radius: 3px;
  padding: 10px 22px;
  cursor: pointer;
}

.setting-button {
  background: #413731;
  border: 1px solid #413731;
}

.exit-button {
  background: #4992FF;
  border: 1px solid #4992FF;
  margin-left: 30px;
}

.modal,
.modal-choose-ingredients {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-dialog-search,
.modal-dialog-ingredients,
.modal-dialog-delete-recipe,
.modal-dialog-clear-list-products,
.modal-dialog-ingredients-in-add-recipe,
.modal-dialog-category,
.modal-dialog-view-category {
  width: 350px;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: auto;
  padding-top: 10px;
  padding-left: 21px;
  padding-right: 21px;
}

.modal-dialog-view-category {
  height: 40%;
  overflow-y: scroll;
}

.modal-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
}

.modal-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/bxs-down-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  width: 150px;
}

.search-button-modal {
  padding: 5px;
}

.search-button-modal.button-center {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.input-text-ingredients {
  margin-right: 3px;
  margin-left: 3px;
}

.modal-input-ingredients,
.add-ingredients-input,
.add-category-input {
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
}

.modal-close,
.modal-close-add-ingredients,
.modal-close-add-ingredients-in-add-recipe,
.modal-close-add-category,
.modal-close-view-category {
  position: relative;
  top: 0px;
  right: -98%;
  margin-bottom: 10px;
}


.mobile-hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.recipe-main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recipe-button,
.recalculation-ingredients-button,
.delete-recipe-button,
.add-products-button,
.row-ingredients-button,
.delete-image-in-add-recipe-button,
.add-recipe-button,
.add-product-in-list-shop,
.add-category-button {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 6px 10px;
  border-radius: 3px;
  opacity: 0.62;
  cursor: pointer;
}

.recipe-button.edit {
  margin-right: 30px;
  background: #413731;
  border: 1px solid #413731;
}

.recipe-button.delete,
.recalculation-ingredients-button.minus {
  background: #E55A30;
  border: 1px solid #E55A30;
}

.pre-description {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pre-description-image {
  width: 636px;
  height: 413px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.row-text-category {
  margin-top: 0px;
}

.row-text {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.085em;
}

.row-dynamics-ingredients-text {
  display: block;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.085em;
  margin-left: 10px;
  margin-bottom: 10px;
}

.row-dynamics-ingredients-text-pre-add-in-shop-list {
  font-weight: 700;
  opacity: 30%;
  cursor: pointer;
}

.row-dynamics-ingredients-text-active-add-in-shop-list {
  font-weight: 700;
  opacity: 100%;
  color: #7FEFC7;
}

.add-product-in-list-shop {
  background: #4992FF;
  border: 1px solid #4992FF;
}

.recipe-description {
  margin-bottom: 30px;
}

.recipe-text-description {
  width: 1000px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.085em;
  margin-left: 10px;
}

.recalculation-ingredients-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.recalculation-ingredients-paragraph {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.085em;
  margin-left: 10px;
}

.recalculation-row {
  margin-bottom: 20px;
}

.recalculation-row-text {
  margin-right: 10px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.085em;
}

.recalculation-input {
  border-radius: 3px;
  padding: 0;
  width: 40px;
  height: 26px;
}

.delete-ingredient-in-recalculation-row-text,
.delete-ingredient-in-add-recipe {
  width: 15px;
  height: 10px;
  cursor: pointer;
  display: none;
}

.is-visible-delete-ingredient-in-recalculation-row-text {
  display: inline;
}

.recalculation-ingredients-buttons {
  display: flex;
  margin: 10px;
}

.recalculation-ingredients-button.plus {
  background: #4992FF;
  border: 1px solid #4992FF;
  margin-left: 20px;
}

.recalculation-ingredients-button.calculate-ingredients {
  background: #15DAB7;
  border: 1px solid #15DAB7;
  margin-left: 20px;
}

.modal-add-ingredients,
.modal-add-ingredients-in-add-recipe,
.modal-add-category,
.modal-view-category {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  overflow: auto;
}

.add-ingredients-heading,
.add-category-heading {
  margin-top: 0px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.085em;
}

.add-category-heading {
  text-align: center;
}

.view-category-heading {
  display: block;
  text-align: center; 
  text-decoration: underline;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.085em;
  color: #000;
  margin-bottom: 15px;
}

.add-category-help {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.add-ingredients-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-category-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-category-input {
  width: 80%;
  height: 25px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.add-category-button {
  background: #4992FF;
  border: 1px solid #4992FF;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
}


.add-ingredients-input {
  width: 40%;
  font-size: 16px;
  line-height: 16px;
  padding-left: 10px;
}

.add-ingredient-image,
.add-ingredient-image-hide {
  cursor: pointer;
}

.add-ingredient-image-hide {
  transform: rotate(45deg);
}

.add-ingredient-input-hide {
  display: none;
}

.modal-delete-recipe,
.modal-clear-list-products {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-dialog-delete-recipe,
.modal-dialog-clear-list-products {
  padding: 0;
}

.delete-recipe-heading {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.085em;
  width: 100%;
  text-align: center;
}

.delete-recipe-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.delete-recipe-button-no,
.clear-list-products-button-no {
  background: #4992FF;
  border: 1px solid #4992FF;
}

.delete-recipe-button-yes,
.clear-list-products-button-yes {
  background: #E55A30;
  border: 1px solid #E55A30;
  margin-left: 40px;
}

.list-products-block {
  margin-bottom: 25px;
}

.name-product {
  display: block;
  margin-bottom: 10px;
}

.add-products-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.add-product-button,
.clear-product-button {
  background: #4992FF;
  border: 1px solid #4992FF;
  margin-right: 20px;
  width: 100px;
  display: block;
}

.cross-out-product-button,
.cross-out-success-product-button {
  background: #E55A30;
  border: 1px solid #E55A30;
  display: block;
  margin-bottom: 15px;
  width: 100px;
  padding: 6px 3px;
}

.cross-out-success-product-button {
  background: #15DAB7;
  border: 1px solid #15DAB7;
}

.clear-product-button {
  display: block;
}

.add-product-input {
  border-radius: 3px;
  width: 150px;
  margin-right: 20px;
}

.add-product-input-quantity {
  width: 100px;
  margin: 0;
}

.hint-cross-out-product {
  margin-bottom: 10px;
  font-weight: 700;
  display: none;
}

.pre-cross-out-product {
  opacity: 30%;
  font-weight: 700;
  cursor: pointer;
}

.cross-out-product {
  text-decoration-line: line-through;
  color: #EF997F;
  opacity: 70%;
}

.is-open-list-products {
  display: flex;
}

.registr-header-mobile {
  display: none;
}

.container-registr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.registr-wrapper {
  width: 600px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: auto;
  filter: drop-shadow(6px 4px 10px rgba(0, 0, 0, 0.25));
}

.main-dialog-registr {
  width: 550px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-bottom: 20px;
}

.text-registr-heading {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.085em;
}

.registr-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 14px;
}

.registr-logo {
  margin-right: 20px;
}

.registr-main {
  margin-bottom: 10px;
}

.registr-row-text {
  text-align: center;
}

.registr-input-text {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 140px;
}

.registr-input-text:first-child {
  margin-top: 20px;
}

.registr-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.registr-button {
  width: 80px;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 6px 4px;
  border-radius: 3px;
  opacity: 0.62;
}

.registr-button-sign-in,
.registr-button-sign-in-up {
  background: #15DAB7;
  border: 1px solid #15DAB7;
  margin-right: 20px;
}

.registr-button-registration,
.registr-button-registration-in-system {
  background: #4992FF;
  border: 1px solid #4992FF;
}

.registr-button-sign-in-up {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.registr-button-registration-in-system {
  width: 125px;
}

.registr-row-text-display-none {
  display: none;
}

.registr-row-text-display-flex {
  display: block;
}

.row-name-recipe,
.row-time-recipe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.row-title-text,
.row-time-text {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.085em;
  margin-right: 20px;
}

.row-title-text-ingredients {
  margin: 0;
  margin-bottom: 10px;
}

.row-name-input {
  border-radius: 3px;
  margin-right: 5px;
  width: 150px;
  height: 30px;
}

.row-time-input {
  border-radius: 3px;
  margin-right: 5px;
  width: 50px;
}

.recipe-buttons {
  margin-bottom: 20px;
}

.delete-ingredient-in-add-recipe-button {
  background: #E55A30;
  border: 1px solid #E55A30;
  margin-right: 20px;
}

.add-ingredient-in-add-recipe-button {
  background: #4992FF;
  border: 1px solid #4992FF;
}

.list-ingredients {
  display: flex;
  flex-direction: column;
}

.list-ingredients-text {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.085em;
  margin-bottom: 5px;
}

.row-full-desription-input {
  font-size: 14px;
  border-radius: 3px;
  width: 480px;
  height: 200px;
}

.add-image-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.full-image-block-add-recipe {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.full-image-add-recipe {
  width: 470px;
  height: 350px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 10px;
}

.delete-image-in-add-recipe-button {
  background: #E55A30;
  border: 1px solid #E55A30;
}

.row-choose-desire {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.desire-recipe-checkbox {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.add-recipe-button {
  background: #4992FF;
  border: 1px solid #4992FF;
}

.is-open-modal {
  display: flex;
}

.add-image-recipe-button {
  background-image: url(../img/add-image-recipe.svg);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    margin-bottom: 20px;
  }

  .main-header {
    right: 34%;
  }

  .footer-button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .pre-description-image {
    width: 560px;
    height: 400px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }

  .navigation-link {
    font-size: 14px;
  }

  .navigation-link:not(:last-child) {
    margin-right: 12px;
  }

  .nav-link-icon {
    vertical-align: sub;
  }

  .user-name {
    font-size: 14px;
  }

  .manage-link {
    font-size: 14px;
  }

  .search-input {
    font-size: 10px;
  }

  .search-button {
    width: 60px;
    font-size: 10px;
    line-height: 12px;
    width: 30%;
  }

  .search-button.search {
    margin-right: 8px;
  }

  .main-title {
    font-size: 18px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
  }

  .card-title {
    font-size: 18px;
  }

  .list-item-navigation {
    font-size: 18px;
  }

  .search-button-modal.button-center {
    margin: auto;
    margin-bottom: 20px;
  }

  .pre-description-image {
    width: 400px;
    height: 350px;
  }

  .recipe-text-description {
    width: 90%;
  }

  .row-text {
    font-size: 18px;
  }

  .full-image-add-recipe {
    width: 370px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .header {
    align-items: flex-start;
  }

  .main-header {
    display: none;
    flex-wrap: wrap;
    order: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #8BB8FC;
    margin: auto;
    z-index: 99;
  }

  .manage-list {
    width: 100%;
  }

  .is-open-mobile-menu {
    display: flex;
  }

  .site-name {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 0px;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .navigation-link {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .navigation-link:not(:last-child) {
    margin-right: 0px;
  }

  .nav-link-icon {
    margin-left: 5px;
  }

  .mobile-hide {
    opacity: 50%;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 11px;
  }

  .m-menu-button {
    display: block;
    order: 2;
  }

  .main-title {
    text-align: center;
  }

  .card {
    margin: auto;
    margin-bottom: 35px;
  }

  .modal-select {
    padding: 3px;
    font-size: 14px;
  }

  .modal-text {
    font-size: 14px;
  }

  .recipe-button.edit {
    margin-right: 15px;
  }

  .recipe-button,
  .recalculation-ingredients-button,
  .add-products-button {
    font-size: 14px;
  }

  .pre-description-image {
    width: 60%;
    height: 70%;
  }

  .row-text {
    font-size: 16px;
  }

  .row-dynamics-text {
    display: block;
  }

  .row-dynamics-ingredients-text {
    font-size: 14px;
  }

  .recipe-text-description {
    width: 100%;
    font-size: 14px;
  }

  .recalculation-ingredients-paragraph {
    font-size: 14px;
  }

  .add-ingredients-heading {
    font-size: 14px;
  }

  .add-products-block {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 15px;
  }

  .add-product-input {
    width: 50%;
    margin-bottom: 5px;
  }

  .add-product-button {
    order: 1;
  }

  .main-dialog-registr {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .registr-button-sign-in-up {
    margin: 0;
    margin-left: auto;
  }

  .registr-header-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .registr-header {
    display: none;
  }

  .container-registr {
    position: relative;
    top: 10px;
  }

  .registr-wrapper {
    width: 50%;
    border: none;
    filter: none;
  }

  .registr-input-text {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .row-title-text {
    font-size: 16px;
  }

  .row-full-desription-input {
    width: 100%;
    height: 40%;
  }

  .full-image-add-recipe {
    width: 50%;
    height: 40%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .header {
    padding-top: 30px;
  }

  .logo {
    margin-right: 20px;
  }

  .manage-header {
    width: 100%;
  }

  .search-block {
    display: none;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 2px;
  }

  .search-button {
    width: 30%;
    height: 22px;
  }

  .search-button.search {
    border-radius: 2px;
  }

  .search-button.filter {
    background: #EF997F;
    border: 1px solid #EF997F;
    border-radius: 2px;
  }

  .close {
    width: 11px;
    height: 11px;
  }

  .card {
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
    width: 90%;
  }

  .card-title {
    max-width: 250px;
  }

  .card-image {
    max-width: 130px;
  }

  .catalog-navigation {
    max-width: 100%;
  }

  .catalog-list-navigation {
    margin: 0;
  }

  .list-item-navigation {
    margin-right: 15px;
  }

  .footer {
    padding: 0;
    height: 80px;
  }

  .footer-button {
    margin: auto;
    font-size: 16px;
    padding: 8px 18px;
  }

  .modal-dialog-search,
  .modal-dialog-ingredients,
  .modal-dialog-delete-recipe,
  .modal-dialog-clear-list-products,
  .modal-dialog-ingredients-in-add-recipe,
  .modal-dialog-category,
  .modal-dialog-view-category {
    width: 300px;
  }

  .recipe-main-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .recipe-button,
  .recalculation-ingredients-button,
  .add-products-button {
    padding: 5px;
    font-size: 12px;
  }

  .pre-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .pre-description-text {
    margin-right: auto;
  }

  .row-dynamics-text {
    display: inline;
  }

  .pre-description-image {
    order: -1;
    margin-bottom: 20px;
    width: 95%;
    height: 95%;
  }

  .recipe-text-description {
    width: 95%;
  }

  .recalculation-input {
    width: 40px;
    height: 20px;
  }

  .registr-wrapper {
    width: 80%;
    /* height: 150px; */
  }

  .registr-button {
    padding: 5px 3px;
  }

  .row-title-text {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .add-image-block-mobile,
  .row-choose-desire-mobile {
    display: inline-block;
  }

  .title-text-add-image,
  .title-text-desire {
    display: inline-block;
  }

  .title-text-desire {
    margin-right: 5px;
  }

  .row-title-text-none-top {
    margin-top: 0;
  }

  .row-name-input {
    width: 60%;
    height: 24px;
  }

  .row-time-input {
    height: 24px;
  }

  .row-name-select {
    width: 110px;
  }

  .row-ingredients-button,
  .delete-image-in-add-recipe-button,
  .add-recipe-button {
    padding: 3px 6px;
  }

  .add-recipe-button {
    display: block;
  }
}